*{
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #000;
}

.animScroll{
  opacity: 0;
  transform: translate3d(-200px, 0, 0);
}

.animScroll2{
  opacity: 0;
  transform: translate3d(200px, 0, 0);
}

.animScroll2.active,
.animScroll.active{
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s ease;
}